<%= form_for @person do |f| %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :number %>
    <%= f.text_field :number, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_area :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag "person[dummy_field]", "dfdff" %>
    <%= text_field_tag "person[dummy_field]" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>